.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.deal{
    padding-left: 20px;
}
pre{
    border: none;
}  
.btn-light{
    height:30px;
    width:100px;
    color:rgb(22, 106, 231);
}
.more{
    background-color:transparent;
    border:none;
    color:white;
}
.more:hover,.cart:hover,.login:hover{
    color: blue;
}
.cart{
    color:white;
    padding-top:10px;
}
#logo{
    margin-left:200px;
    margin-right:10px;
    padding-top:0px;
}
img:hover{
    opacity: 0.6;
}
#header_select{
    background-color:transparent;
    border:none;
    font-size:10px;
}
.header_div{
    padding-left: 45px;
}
.header_div:hover{
    color: blue;
}
#deal_pre,#music_pre{
    font-size: 12px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
#product_img,#music_img{
    margin-left: 30px;
}
.green{
    color: green;
}
#viewall{
    padding-left:830px;
    margin-top: 15px;
}
p{
    margin: auto;
    font-size: 12px;
}
.musicalproduct{
    margin-left: 60px;
    margin-right: 40px;
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.product{
    margin-left: 60px;
    margin-right: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header_music{
    border-bottom: 1px solid rgba(160, 160, 160, 0.397);;
}
.btnview{
    padding: 5px 10px 0px 10px;
}
.timer{
    color:grey;
    font-size: 16px;
}
.p_view{
    padding-top: 15px;
    padding-left:60px;
}
.shop_now{
    padding-top: 0px;
    font-size:12px;
}
@media screen and (max-width: 1000px) {
  .nav a {
    float: none;
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .column {
    width: 50%;
  }
  .carousel{
    padding-right: 0px;
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .header_music {
    width: 70%;
  }
}
